{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <table class="table table-head">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Opções</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for autor in autores %}
                    <tr>
                        <td>{{ autor.nome }}</td>
                        <td><a href="/autor_edit/{{ autor.id }}" class="btn btn-warning">Editar</a></td>
                        <td><a href="/autor_delete/{{ autor.id }}" class="btn btn-danger">Excluir</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}